$main-height: calc(100vh * 0.081 + 100vh * 0.051);

:host {
  display: flex;
  flex-direction: column;
}

.main-frame {
  display: flex;

  height: calc(100vh - #{$main-height});
  max-height: calc(100vh - #{$main-height});
}
