$header-height: calc(100vh * 0.08);
$footer-height: calc(100vh * 0.05);
$menu-width: calc(100vw * 0.05);

$main-height: calc(100vh - #{$header-height});
$main-width: calc(100vw - #{$menu-width});

:host {
  display: flex;
  flex-direction: column;
}

.main-frame {
  display: flex;

  height: $main-height;
  max-height: $main-height;
}

.main-content {
  width: $main-width;
  max-width: $main-width;
}