$border-color: #bdbdbd;
$header-grid-style: solid 1px $border-color;

.cell {
  font-size: 0.7rem !important;
  border-left: solid 1px lighten($border-color, 20%);
  border-bottom: solid 1px $border-color;
  background-color: #f6f6f6;
  text-align: center;
}
.year {
  border-top: $header-grid-style !important;
  border-left: $header-grid-style !important;
}
.month:first-child {
  border-left: $header-grid-style !important;
}
.january {
  border-left: $header-grid-style !important;
}
.body:first-child {
  border-left: $header-grid-style !important;
}

$box-color: #ffbda9;
.resume-box {
  cursor: grab;
  
  border-radius: 3px;
  background-color: rgba($color: $box-color, $alpha: 0.7);
  border: solid 2px rgba($color: $box-color, $alpha: 0.2);;
}

.resume-box.selected {
  transition: 0.5s;
  background-color: rgba($color: $box-color, $alpha: 0.9);
  border: solid 2px rgba($color: $box-color, $alpha: 0.3);;
}