<div class="grid overflow-x">
  <!-- 追加ボタン -->
  <app-icon-button [iconClass]="iconConstants.plus" (onClick)="addResumeBoard($event)" [tooltipText]="'追加'">
  </app-icon-button>
  <!-- 年ヘッダ -->
  <ul class="flex-h">
    <li class="cell year" *ngFor="let year of years; let i = index;" [ngStyle]="year.style">{{year.year}}</li>
  </ul>
  <ul class="flex-h body">
    <li *ngFor="let month of months; let i = index;">
      <!-- 月 -->
      <div class="cell month" [ngClass]="{ 'january': month.month === '1'}" [ngStyle]="defaultCellStyle">
        {{month.month}}</div>
      <!-- グリッド -->
      <div class="cell" [ngClass]="{ 'january': month.month === '1'}" [ngStyle]="defaultCellStyle"></div>
    </li>
  </ul>
</div>