<div class="grid overflow-x">
  <div class="grid-header">
    <!-- 追加ボタン -->
    <app-icon-button [iconClass]="iconConstants.plus" (onClick)="addResumeBoard($event)" [tooltipText]="'追加'">
    </app-icon-button>
    <div class="flex-h">
      <!-- 年 -->
      <ng-container *ngFor="let month of term; let i = index;">
        <div class="cell year">
          <ng-container *ngIf="i === 0 || month.month === '1'">
            <div [ngClass]="{ 'january': month.month === '1'}">
              {{month.year}}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="flex-h">
      <!-- 月 -->
      <ng-container *ngFor="let month of term">
        <div class="cell month" [ngClass]="{ 'january': month.month === '1'}">{{month.month}}</div>
      </ng-container>
    </div>
  </div>
  <div class="grid-body">
    <!-- コンテンツグリッド -->
    <ng-container *ngFor="let month of term; let i = index;">
      <div class="cell body" [ngClass]="{ 'january': month.month === '1'}"></div>
    </ng-container>
  </div>
</div>