<!-- 追加ボタン -->
<app-icon-button [iconClass]="iconConstants.plus" (onClick)="addResumeBoard($event)" [tooltipText]="'追加'">
</app-icon-button>
<div class="grid overflow-x relative">
  <!-- 年ヘッダ -->
  <ul class="flex-h">
    <li class="cell year" *ngFor="let year of years; let i = index;" [ngStyle]="year.style">{{year.year}}</li>
  </ul>
  <ul class="flex-h">
    <li *ngFor="let month of months; let i = index;">
      <!-- 月 -->
      <div class="cell month" [ngClass]="{ 'january': month.month === '1'}"
        [ngStyle]="styleConst.defaultMonthHeaderStyle">
        {{month.month}}</div>
      <!-- グリッド -->
      <div class="cell body" [ngClass]="{ 'january': month.month === '1'}" [ngStyle]="styleConst.defaultCellStyle">
      </div>
    </li>
  </ul>
  <div *ngFor="let disp of displayResumes" class="resume-box absolute" [ngStyle]="disp.style"
    [ngClass]="{'selected': disp.resume === selectedResume}" (mouseenter)="selectResume(disp.resume)">
    <div>{{disp.title}}</div>
  </div>
</div>