$border: solid 1px #fff;
:host {
  border-top: $border;
}

.resume-frame {
  margin: 2rem;
}

.repletion-field {
  border-left: $border;
  width: 40%;
}

/*
  未選択
 */
$shadow-size: 3px;
.not-selected {
  color: white;
  font-size: 2rem;
  margin: auto;
  filter: drop-shadow($shadow-size $shadow-size $shadow-size rgba(0,0,0,0.6));
  text-align: center;
  font-family: cursive;
}