$transitionTime: 0.1s;
$base-color: #555;

.button-icon {
  cursor: pointer;
  color: $base-color;

  transition: $transitionTime;
}

.button-icon:hover {
  color: lighten($base-color, 20%);
  transition: $transitionTime;
}