<mat-form-field appearance="fill">
  <mat-label>{{placeholder}}</mat-label>
  <input matInput [max]="max" [min]="min" [formControl]="control" [matDatepicker]="picker" name="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startView]="'multi-year'" (monthSelected)="monthSelected($event)"></mat-datepicker>
  <mat-error *ngIf="control.hasError('required')">{{messages.validation.required}}</mat-error>
  <mat-error *ngIf="control.hasError('date')">{{messages.validation.date}}</mat-error>
  <mat-error *ngIf="control.hasError('dateGreaterThan')">{{messages.validation.dateGreaterThan}}</mat-error>
</mat-form-field>