<!-- 追加ボタン -->
<app-icon-button [iconClass]="iconConstants.plus" (onClick)="addResumeBoard($event)" [tooltipText]="'追加'">
</app-icon-button>
<div class="grid overflow-x relative">
  <!-- 年ヘッダ -->
  <ul class="flex-h">
    <li class="cell year" *ngFor="let year of years; let i = index;" [ngStyle]="year.style">{{year.year}}</li>
  </ul>
  <ul class="flex-h">
    <li *ngFor="let month of months; let i = index;">
      <!-- 月 -->
      <div class="cell month" [ngClass]="{ 'january': month.month === '1'}"
        [ngStyle]="styleConst.defaultMonthHeaderStyle">
        {{month.month}}</div>
      <!-- グリッド -->
      <div class="cell body" [ngClass]="{ 'january': month.month === '1'}" [ngStyle]="styleConst.defaultCellStyle">
      </div>
    </li>
  </ul>
  <ng-container *ngFor="let disp of displayResumes">
    <div draggable class="resume-box absolute flex-h" [ngStyle]="disp.style"
      [ngClass]="{'selected': disp.resume === selectedResume}" (mouseenter)="selectResume(disp.resume)"
      (dragstart)="dragstart($event, disp)" (dragover)="dragover($event)" (drop)="drop($event)">
      <div draggable class="resume-box-left"></div>
      <div class="resume-box-title">{{disp.resume.title.value}}</div>
      <div draggable class="resume-box-right"></div>
    </div>
  </ng-container>
</div>