<div *ngIf="resume" class="resume-frame flex-one flex-v">
  <div class="project">
    <app-textbox [label]="'プロジェクト'" [value]="resume.title" [placeholder]="messages.tips.projectExample"></app-textbox>
  </div>
  <label>期間</label>
  <div class="term">
    <app-date [date]="resume.termFrom" [placeholder]="'開始'"></app-date>
    ～
    <app-date [date]="resume.termTo" [placeholder]="'終了'"></app-date>
  </div>
  <div class="title">
    <input [(ngModel)]="resume.title" />
  </div>
  <div class="flex-h">
    <div>

    </div>
    <div>

    </div>
  </div>
</div>
<div *ngIf="resume">

</div>
<label *ngIf="!resume" class="not-selected">
  NOT SELECTED RESUME !!
</label>