$header-height: 61px;
$main-height: calc(100vh - #{$header-height});

:host {
  display: flex;
  flex-direction: column;
}

.main-frame {
  display: flex;

  height: $main-height;
  max-height: $main-height;
}

