/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  margin: 0 !important;

  background-color: rgb(235, 240, 243);
}

.flex-h {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-one {
  flex: 1;
}

/* スクロール関連 */
.overflow-y {
  overflow-y: hidden;
  overflow-x: hidden;
}

.overflow-y:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-x {
  overflow-y: hidden;
  overflow-x: hidden;
}

.overflow-x:hover {
  overflow-y: hidden;
  overflow-x: auto;
}

/* カスタムスクロールバー */

$scrollbar-width: 0.5rem;
/*スクロールバー全体*/
::-webkit-scrollbar {
  width: $scrollbar-width;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: $scrollbar-width;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 56, 63, 0.2);
  border-radius: $scrollbar-width;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.container{
  width: 100%;
  height: 400px;
  overflow: auto;
}

.inner{
  background-image: url("http://lorempixel.com/800/800/");
  background-repeat: no-repeat;
  width:100%;
  height:800px;
}